<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="fileReader" class="ru.quiz.service.QuizFileReaderImpl">
        <constructor-arg value="questions.csv"/>
    </bean>

    <bean id="quizAction" class="ru.quiz.service.QuizActionImpl">
        <constructor-arg ref="fileReader"/>
        <constructor-arg ref="userIO"/>
    </bean>

    <util:constant id="out" static-field="java.lang.System.out"/>
    <util:constant id="in" static-field="java.lang.System.in"/>

    <bean id="userIO" class="ru.quiz.service.UserIOImpl">
        <constructor-arg ref="out"/>
        <constructor-arg ref="in"/>
    </bean>

</beans>
